.avatar {
  width: 52px;
  height: 52px;

  border-radius: 50%;

  background:
    linear-gradient(
      135deg,
      #9333ea,
      #7e22ce
    );

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;

  font-size: 18px;
  font-weight: 700;

  box-shadow:
    0 0 18px rgba(168, 85, 247, 0.25);
}