.messageWrapper {
  display: flex;

  margin-bottom: 18px;
}

.own {
  justify-content: flex-end;
}

.other {
  justify-content: flex-start;
}

.messageBubble {
  max-width: 72%;

  padding: 14px 16px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;

  gap: 8px;

  animation: fadeIn 0.2s ease;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.own .messageBubble {
  background:
    linear-gradient(
      135deg,
      #9333ea,
      #7e22ce
    );

  color: white;

  border-bottom-right-radius: 6px;

  box-shadow:
    0 0 20px rgba(168, 85, 247, 0.2);
}

.other .messageBubble {
  background:
    rgba(255, 255, 255, 0.04);

  color: white;

  border: 1px solid rgba(255, 255, 255, 0.05);

  border-bottom-left-radius: 6px;
}

.messageBubble p {
  line-height: 1.5;

  font-size: 15px;
}

.messageBubble span {
  font-size: 11px;

  opacity: 0.7;

  align-self: flex-end;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}