.chatItem {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 16px 14px;

  border-radius: 22px;

  text-decoration: none;

  transition: 0.25s ease;

  border: 1px solid transparent;

  background: rgba(255,255,255,0.02);
}

.chatItem:hover {
  background: rgba(255,255,255,0.05);

  transform: translateY(-2px);
}

.active {
  background:
    linear-gradient(
      135deg,
      rgba(130,60,255,0.22),
      rgba(60,60,120,0.16)
    );

  border: 1px solid rgba(170,110,255,0.28);

  box-shadow:
    0 0 25px rgba(130,60,255,0.18);
}

.avatar {
  width: 54px;
  height: 54px;

  min-width: 54px;

  border-radius: 50%;

  background:
    linear-gradient(
      135deg,
      #b24cff,
      #6d4dff
    );

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight: 700;
  font-size: 22px;

  position: relative;
}

.onlineDot {
  width: 11px;
  height: 11px;

  background: #00ff73;

  border-radius: 50%;

  position: absolute;
  bottom: 1px;
  right: 1px;

  box-shadow: 0 0 12px #00ff73;
}

.chatInfo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chatName {
  color: white;
  font-size: 22px;
  font-weight: 700;

  margin-bottom: 4px;
}

.lastMessage {
  color: rgba(255,255,255,0.6);

  font-size: 15px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 180px;
}