.settings nav {
    width: 80%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding: 7px;
    gap: 3px;
    transition: opacity 0.5s ease-in-out;
    font-size: 1.5rem;
    font-weight: 500;
    margin-block: 5px;
}

.settings nav>img {
    width: 45px;
    height: 45px;
    border-radius: 0.75rem;
}

.settings nav>button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-color);
    border-radius: 100%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings nav>button>a {
    text-decoration: none;
    color: var(--text-color);
}

.settings nav>button:hover {
    background: var(--border-color);
}

.settings .divider {
    background-color: var(--border-color);
    height: 1px;
    width: 100%;
}

.settings main {
    width: 75%;
    margin-inline: auto;
    padding: 2rem;
}

.settings main h2 {
    color: var(--text-color);
    margin-bottom: 1rem;
    font-size: 2rem;
}

.settings main p {
    color: rgb(125 128 138);
}

.profileSetting {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
    width: 90%;
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--card-color);
    margin-inline: auto;
}

.avatarContainer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.avatarContainer>img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.avatarContainer>img:hover {
    transform: scale(1.1);
}

.avatarContainer>div>h3 {
    font-size: 1.25rem;
    color: var(--text-color);
    margin-block: 5px;
}

.avatarContainer>div>button {
    background: linear-gradient(112deg, #800080, #33006F);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.profileSetting div>p {
    margin-block: 5px;
    color: rgb(125 128 138)
}

.profileSetting div>input,
.profileSetting div>textarea {
    color: var(--text-color);
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px 10px;
    width: 95%;
    background-color: var(--input-color);
    font-weight: 400;
    outline: 1px solid var(--border-color);
    transition: all 0.3s ease;
}

.profileSetting div>textarea {
    height: 100px;
    resize: none;
}

.profileSetting div>input:hover,
.profileSetting div>textarea:hover {
    outline: 1px solid #800080;
}

.profileSetting div>input:focus,
.profileSetting div>textarea:focus {
    outline: 1px solid #800080;
    box-shadow: 0 0 5px #800080;
}

.save {
    display: flex;
    justify-content: end;
}

.save>.cancel {
    background: none;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.3s ease;
}

.save>.cancel:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.save>button {
    background: linear-gradient(112deg, #800080, #33006F);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 17px;
    margin-right: 20px;
}

.Appearance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 90%;
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--card-color);
    margin-inline: auto;
    transition: outline 0.3s ease;
    outline: 1px solid var(--border-color);
}

.Appearance:hover {
    outline: 1px solid #800080;
}

.Appearance>div>h3 {
    margin-block: 5px;
    ;
}

.Appearance>div>p {
    margin-block: 0px;
    color: rgb(125 128 138);
}

.Appearance>div>button {
    min-width: 45px;
    min-height: 45px
}

.logout {
    margin-top: 2rem;
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: end;
}

.logout>button {
    background: linear-gradient(112deg, #800080, #33006F);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
    color: white;
}

.hover {
    transition: all 0.3s ease;
}

.hover:hover {
    background: linear-gradient(0deg, #800080, #33006F);
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
    .settings main {
        width: 95%;
        padding: 0px;
    }

    .settings nav {
        width: 100%;
        padding: 0px;
    }
}

@media (max-width: 390px) {
    .save>button {
        font-size: 15px;
    }

    .cancel {
        font-size: 15px;
    }
}