.logo {
  display: flex;
  align-items: center;

  -webkit-user-select: none;
  user-select: none;
}

.large {
  font-size: 34px;
}

.small {
  font-size: 26px;
}

.logoX {
  background:
    linear-gradient(
      135deg,
      #d946ef,
      #7c3aed,
      #3b82f6
    );

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;

  font-weight: 900;

  transform: skewX(-10deg);

  letter-spacing: -5px;
}

.logoText {
  color: #ffffff;

  font-weight: 700;

  margin-left: -2px;
}